.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
  max-width: 100%;
  object-fit: cover;
}

.nav-centrale ul {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-centrale a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.nav-destra a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
.hero-testo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;       
    justify-content: center;   
    background-color: rgba(93, 93, 93, 0.3);
    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding: 0 20px;
    box-sizing: border-box;
  }

.prg {
   padding: 40px 20px;
   margin: 0 auto;
}

.prg h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: left;
}

.prg p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
  text-align: left;
}


.etna {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
.blocco {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
  }
  
.invertito {
    flex-direction: row-reverse;
  }
  
.testo {
    flex: 1;
    min-width: 300px;
  }
  
.testo h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
.testo p {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 20px;
  }
  
.immagine {
    flex: 1;
    min-width: 300px;
  }
  
.immagine img {
    width: 100%;
    height: auto;
  }
  
 footer {
    background: #329B46;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.footerinfo {
    display: flex;
    justify-content: space-between;
    gap: 400px;
    text-align: center;
  }
  
.footerinfo h4 {
    font-size: 26px;
    color: #ffffff;
  }
  
.footerinfo ul {
    list-style: none;
    text-align: center;
  }
  
.footerinfo li {
    margin-bottom: 8px;
    text-align: center;

  }
  
.footerinfo a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
  
.footerinfo a:hover {
    text-decoration: underline;
  }
  
footer p {
    text-align: center;
    font-size: 24px;
    color: #c9c9c9;
  } 

  @media (max-width: 600px) {
  
    .hero {
      height: auto;
      padding: 0;
      margin: 0;
    }
  
    .hero-image img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  
    .hero-testo {
      background-color: transparent;
      font-size: 20px;
      text-align: center;
      padding: 20px;
      color: white;
    }
   
    .header {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      align-items: center;
    }
  
    .nav-centrale ul {
      align-items: center;
      gap: 50px;
    }
  
    .nav-destra {
      margin-top: 10px;
       align-items: center;
    }

    .prg h2{
      font-size: 20px;
    }


    .prg p{
      font-size: 16px;
    }
    
    .testo h2{
      font-size: 20px;
    }

    .testo p{
      font-size: 16px;
    }

    .footerinfo {
      flex-direction: column;
      gap: 10px;
      padding: 30px 20px;
      text-align: center;
    }
  
    .footerinfo ul {
      list-style: none;
      padding: 0;
    }
  
     .footer p {
      font-size: 14px;
      padding-top: 10px;
    }
  }    
